button {
    font-size: 1.5em;
    color: white;
    font-family:  Gibson-Regular;
    border: none;
    border-radius: 20px;
    padding: 40px 20px;
    margin-top: 50px;
}

button img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
