* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gibson-Regular;
  src: url("/public/Fonts/Gibson Family/Canada Type - Gibson-Regular.otf");
}

@font-face {
  font-family: Gibson-Bold;
  src: url("/public/Fonts/Gibson Family/Canada Type - Gibson-Bold.otf");
}

.Main-category {
  font-family: Gibson-Regular;
  margin: 30px;
}

.Main-category h2 {
  color: #032741;
  font-size: 50px;
  margin-bottom: 20px;
}

.Main-category p {
  line-height: 30px;
}

.Main-category i {
  display: inline-block;
  margin: 0 5px;
}

.Main-category h2 i:nth-child(1) {
  font-size: 15px;
  margin-left: 30px;
}

.Main-category h2 i:nth-child(2) {
  font-size: 10px;
}

.Main-category h2 i:nth-child(3) {
  font-size: 5px;
}